@charset "UTF-8";
.r_mp                     {                margin: 0;padding: 0;}
.r_li {margin: 0;padding: 0;list-style-type: none}
.full {width: 100%;height: 100%;box-sizing: border-box}
.fullWidth {width: 100%}
ul > li a {width:300px;}
@media screen and (max-width:1024px) {
  html:lang(ru-RU) .btn_mid {
    font-size: .8rem; transform:translate(30px, -30px, 1px)}
}/*!
  Important comments included in optimized output.
*/